.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21222A;
}

.navbar-container div {
    display: flex;
}

.navbar-container div h2 {
    margin-left: 10px;
    color: #61DAFB
}

.navbar-container h5 {
    padding: 0 27px;
    color: white;
}

.react-logo {
    width: 40px;
}