* {
  padding: 0;
  margin: 0;
}

/* ============ Navbar ============ */
.navbar-container {
  display: flex;
  background-color: #f55a5a;
  align-items: center;
  color: white;
  padding: 20px 0;
  justify-content: center;
}

.navbar-icon {
  margin-right: 10px;
}

.navbar-container>h4 {
  font-size: 20px;
}