* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

main {
  margin: 0 40px;
  position: relative;
}

/* =========== Navbar =========== */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 20px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.navbar-branding {
  display: flex;
  gap: 10px;
}

/* =========== Form =========== */
.form-container {
  margin-top: 36px;
  text-align: center;
}

.form-main {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  position: relative;
}

.form-main input {
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;

}

.form-main {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
}

.submit-btn {
  display: block;
  padding: 10px;
  font-size: 16px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / -1;
  margin: auto 0;
}

.meme-image {
  margin-top: 36px;
  margin-bottom: 20px;
  width: 100%;
  height: 650px;
  border-radius: 5px;
  position: relative;
}

.image-text-container {
  position: relative;
  text-align: center;
}

.image-top-text,
.image-bottom-text {
  z-index: 2;
  font-size: 60px;
  position: absolute;
  color: rgb(255, 255, 255);
  width: 100%;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.image-top-text {
  top: 60px;
}

.image-bottom-text {
  bottom: 60px;
}