* {
  padding: 0;
  margin: 0;
}

/* =========== Navbar =========== */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 20px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.navbar-branding {
  display: flex;
  gap: 10px;
}