* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

/* =========== Navbar =========== */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 20px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.navbar-branding {
  display: flex;
  gap: 10px;
}

/* =========== Form =========== */
.form-container {
  margin: 36px 20px 0;
  text-align: center;

}

.form-main {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form-input-container input {
  padding: 10px;
  border-radius: 5px;
  width: 42.5%;
}

.form-input-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.submit-btn {
  display: block;
  padding: 10px;
  font-size: 16px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / -1;
}