* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

/* ========== Display Shapes ============= */
.top-right-blob,
.bottom-left-blob {
  width: 350px;
  height: 275px;
  position: absolute;
}

.top-right-blob {
  background-color: #e4a724;
  border-radius: 50% / 70% 50% 60% 40%;
  right: -95px;
  top: -50px;
}

.bottom-left-blob {
  background-color: skyblue;
  border-radius: 50% / 30% 70% 50% 70%;
  ;
  bottom: -50px;
  left: -95px;
}


/* ========== Landing Page ============= */
.landing-page-container {
  overflow-y: hidden;
  text-align: center;
  margin-top: 500px;
}

.landing-page-container h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.landing-page-container h5 {
  font-size: 20px;
  margin: 0 70px;
}

.start-btn {
  margin-top: 29px;
  width: 200px;
  height: 52px;
  color: white;
  background-color: #4D5B9E;
  border-radius: 15px;
}


/* ========= Quiz Page ============== */
.quiz-container {
  margin-left: 75px;
  margin-top: 140px;
  z-index: 2;
}

.back-btn {
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(151, 151, 223);
}

.quiz-card-container {
  border-bottom: solid 1px #DBDEF0;
  padding-bottom: 20px;
  margin-right: 300px
}

.question {
  font-weight: 700;
  font-size: 25px;
}

.answer-container {
  display: flex;
  margin-top: 15px;
  gap: 50px;
}

.answer-btn {
  padding: 5px 0;
  text-align: center;
  border-radius: 15px;
  width: 100px;
  background-color: transparent;
}

.check-answers-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.check-answers-btn {
  padding: 10px 20px;
  border-radius: 10px;
}